:root {
	--accent-color-rgb: 232, 69, 69;
	--accent-color: #ffc107;
	--background-color-rgb: 255, 255, 255;
	--background-color: #ffffff;
	--contrast-color-rgb: 255, 255, 255;
	--contrast-color: #ffffff;
	--default-color-rgb: black;
	--default-color: #212529;
	--default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
	  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
	  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--heading-color-rgb: 50, 53, 58;
	--heading-color: #32353a;
	--heading-font: "Montserrat", sans-serif;
	--nav-color: #3a3939;
	--nav-dropdown-background-color: #ffffff;
	--nav-dropdown-color: #3a3939;
	--nav-dropdown-hover-color: #ffc107;
	--nav-font: "Lato", sans-serif;
	--nav-hover-color: #ffc107;
	scroll-behavior: smooth;
  }
  a {
	color: var(--accent-color);
	text-decoration: none;
	transition: 0.3s;
  }
  a:hover {
	color: #000;
	text-decoration: none;
  }
  body {
	background-color: var(--background-color);
	color: var(--default-color);
	font-family: var(--default-font);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	color: var(--heading-color);
	font-family: var(--heading-font);
	font-weight: 700;
  }
  .header {
	--background-color: #ffffff;
	background-color: var(--background-color);
	color: var(--default-color);
	padding: 15px 0;
	transition: all 0.5s;
	z-index: 997;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .header .logo {
	display: flex;
	align-items: center;
  }
  .header .logo a {
	min-width: 290px;
	width: 100%;
	margin: 0 auto;
  }
  .header .logo h1 {
	color: var(--heading-color);
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 600;
	margin: auto;
	text-align: center;
  }
  .header .logo img {
	max-height: 40px;
	margin: 0 auto;
  }
  .header .logo span {
	color: var(--accent-color);
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 600;
	padding-left: 3px;
	margin: 0 auto;
	width: 5px;
  }
  .social i {
	color: #000;
	z-index: 998;
  }
  .social i:hover {
	color: var(--accent-color);
  }
  @media (max-width: 1200px) {
	.header .logo {
	  order: 1;
	}
	.header .navmenu {
	  order: 3;
	}
  }
  section {
	scroll-margin-top: 90px;
  }
  @media (max-width: 1199px) {
	section {
	  scroll-margin-top: 66px;
	}
  }
  .index-page .header {
	--background-color: rgba(255, 255, 255, 0);
	--heading-color: #ffffff;
	--nav-color: rgba(255, 255, 255, 0.515);
	--nav-hover-color: #ffffff;
  }
  @media (min-width: 1200px) {
	.hamburger_social {
	  display: none;
	}
	.navmenu {
	  padding: 0;
	}
	.navmenu .active,
	.navmenu .active:focus,
	.navmenu li:hover > a {
	  color: #ffc107;
	}
	.navmenu a i,
	.navmenu a:focus i {
	  line-height: 0;
	  margin-left: 5px;
	  transition: 0.3s;
	}
	.navmenu a,
	.navmenu a:focus {
	  align-items: center;
	  color: #000;
	  display: flex;
	  font-family: var(--nav-font);
	  font-weight: 400;
	  justify-content: space-between;
	  padding: 18px 15px;
	  transition: 0.3s;
	  white-space: nowrap;
	}
	.navmenu li {
	  position: relative;
	}
	.navmenu li:last-child a {
	  padding-right: 0;
	}
	.navmenu ul {
	  align-items: center;
	  display: flex;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
  }
  @media (max-width: 1199px) {
	.hamburger_social {
	  display: flex;
	  justify-content: space-around;
	}
	.mobile-nav-active {
	  overflow: hidden;
	}
	.mobile-nav-active .mobile-nav-toggle {
	  color: #fff;
	  margin-right: 0;
	  position: absolute;
	  right: 15px;
	  top: 15px;
	  z-index: 9999;
	}
	.mobile-nav-active .navmenu {
	  background: rgba(33, 37, 41, 0.8);
	  inset: 0;
	  overflow: hidden;
	  position: fixed;
	  transition: 0.3s;
	}
	.mobile-nav-active .navmenu > ul {
	  display: block;
	}
	.mobile-nav-toggle {
	  color: var(--nav-color);
	  cursor: pointer;
	  line-height: 0;
	  margin-right: 10px;
	  transition: color 0.3s;
	}
	.navmenu {
	  padding: 0;
	  z-index: 9997;
	}
	.navmenu .active i,
	.navmenu .active:focus i {
	  background-color: var(--accent-color);
	  color: var(--contrast-color);
	  transform: rotate(180deg);
	}
	.navmenu .active,
	.navmenu .active:focus,
	.navmenu a:hover {
	  color: var(--nav-dropdown-hover-color);
	}
	.navmenu a i,
	.navmenu a:focus i {
	  align-items: center;
	  background-color: rgba(var(black), 0.1);
	  border-radius: 50%;
	  display: flex;
	  height: 30px;
	  justify-content: center;
	  line-height: 0;
	  margin-left: 5px;
	  transition: 0.3s;
	  width: 30px;
	}
	.navmenu a i:hover,
	.navmenu a:focus i:hover {
	  background-color: var(--accent-color);
	  color: var(--contrast-color);
	}
	.navmenu a,
	.navmenu a:focus {
	  align-items: center;
	  color: var(--nav-dropdown-color);
	  display: flex;
	  font-family: var(--nav-font);
	  font-weight: 500;
	  justify-content: space-between;
	  padding: 10px 20px;
	  transition: 0.3s;
	  white-space: nowrap;
	}
	.navmenu ul {
	  background-color: var(--nav-dropdown-background-color);
	  border-radius: 6px;
	  box-shadow: 0 0 30px rgba(var(--default-color-rgb), 0.1);
	  display: none;
	  inset: 60px 20px 20px 20px;
	  margin: 0;
	  overflow-y: auto;
	  padding: 10px 0;
	  position: absolute;
	  transition: 0.3s;
	  z-index: 9998;
	}
  }
  @media (max-width: 1300px) {
	.social {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  max-width: 78px;
	}
  }
  @media (max-width: 768px) {
	.social {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  max-width: 55px;
	  margin: auto 30px auto 5px;
	}
  }
  @media (max-width: 480px) {
	.social {
	  margin: auto 10px auto 5px;
	}
  }
  #preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	overflow: hidden;
	background-color: var(--background-color);
	transition: all 0.6s ease-out;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  #preloader div {
	width: 13px;
	height: 13px;
	background-color: var(--accent-color);
	border-radius: 50%;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
	position: absolute;
	left: 50%;
  }
  #preloader div:nth-child(1) {
	left: calc(50% + 8px);
	animation: animate-preloader-1 0.6s infinite;
  }
  #preloader div:nth-child(2) {
	left: calc(50% + 8px);
	animation: animate-preloader-2 0.6s infinite;
  }
  #preloader div:nth-child(3) {
	left: calc(50% + 32px);
	animation: animate-preloader-2 0.6s infinite;
  }
  #preloader div:nth-child(4) {
	left: calc(50% + 56px);
	animation: animate-preloader-3 0.6s infinite;
  }
  @keyframes animate-preloader-1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes animate-preloader-3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes animate-preloader-2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
  @media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
  }
  .section,
  section {
	color: var(--default-color);
	background-color: var(--background-color);
	padding: 20px 0;
	overflow: clip;
  }
  .section-title h2 {
	font-size: clamp(1rem, 1.3vw, 1.3rem);
	padding: 30px;
	position: relative;
	display: inline-block;
  }
  .section-title h2:after,
  .section-title h2:before {
	background: var(--accent-color);
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
  }
  .section-title h2:before {
	left: -65px;
	width: 50px;
  }
  .section-title h2:after {
	right: -65px;
	width: 50px;
  }
  @media (max-width: 480px) {
	.section-title h2 {
	  margin-left: 35px;
	  margin-right: 35px;
	}
	.section-title h2:after,
	.section-title h2:before {
	  width: 20px;
	}
	.section-title h2:before {
	  left: -35px;
	}
	.section-title h2:after {
	  right: -35px;
	}
  }
  .page-title {
	color: var(--default-color);
	background-color: var(--background-color);
  }
  .page-title nav {
	background-color: rgba(var(--default-color-rgb), 0.05);
	padding: 20px 0;
  }
  .wrapper1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  }
  .circle .box span {
	font-size: 2.375rem;
	font-family: sans-serif;
	font-weight: 600;
	transform: translate(-45%, -45%);
	transition: all 0.1s;
  }
  @media (max-width: 753px) {
	.wrapper {
	  max-width: 700px;
	}
  }
  @media (max-width: 505px) {
	.wrapper1 {
	  max-width: 500px;
	}
  }
  .hero {
	--default-color: #ffffff;
	--default-color-rgb: 255, 255, 255;
	--background-color: #000000;
	--background-color-rgb: 0, 0, 0;
	width: 100%;
	min-height: 100vh;
	position: relative;
	padding: 160px 0 80px 0;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .hero .bg-div {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
  }
  .hero-img-div {
	max-width: 30%;
  }
  .hero:before {
	content: "";
	background: rgba(var(white), 0.5);
	position: absolute;
	inset: 0;
	z-index: 2;
  }
  .hero .container {
	z-index: 3;
  }
  .hero .container .row {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .hero .container .row .hero-txt {
	text-align: center;
  }
  .hero h2 {
	color: var(--contrast-color);
	margin: 0;
	font-size: clamp(1.7rem, 3.6458vw, 4.5rem);
  }
  .hero p {
	font-size: clamp(0.65rem, 0.7vw, 0.8rem);
	color: rgba(var(--default-color-rgb), 0.8);
	margin: 20px 0 0 0;
  }
  .hero .sign-up-form {
	margin-top: 20px;
	padding: 15px;
	border-radius: 7px;
	background: #fff;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  }
  .hero .sign-up-form .form-control {
	border: none;
  }
  .hero .sign-up-form .form-control:active,
  .hero .sign-up-form .form-control:focus {
	outline: 0;
	box-shadow: none;
  }
  .hero .sign-up-form input[type="submit"] {
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	padding: 8px 20px 10px 20px;
	border-radius: 7px;
	color: var(--contrast-color);
  }
  .hero .sign-up-form input[type="submit"]:hover {
	background-color: #000;
  }
  .btn-primary {
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	padding: 8px 20px 10px 20px;
	border-radius: 7px;
	color: var(--contrast-color);
	margin-top: 30px;
  }
  .btn-primary:hover {
	background-color: #000;
  }
  .about {
	--background-color: #f4f4f4;
	margin: auto;
  }
  .about .content {
	margin: auto;
	text-align: center;
  }
  .about .content img {
	display: block;
	margin: auto;
	max-width: 430px;
	width: 70%;
	height: auto;
	border-radius: 50%;
	min-width: 150px;
  }
  .about .content h3 {
	font-size: clamp(0.875rem, 0.8333vw, 1.125rem);
	font-weight: 500;
	line-height: 20px;
	background: rgba(var(--accent-color-rgb), 0.05);
	color: var(--accent-color);
	border-radius: 7px;
	display: inline-block;
  }
  .about .content p:last-child {
	margin-bottom: 0;
  }
  .about .content .read-more i {
	font-size: clamp(0.875rem, 0.8333vw, 1.125rem);
	line-height: 0;
	transition: 0.3s;
	margin: auto;
	padding: 5px;
  }
  .about .content .read-more:hover {
	background: #000;
  }
  .about .content .read-more:hover i {
	margin: auto;
  }
  .about .icon-box {
	padding-top: 0;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
	margin-bottom: 20px;
  }
  .about .icon-box i {
	width: clamp(2.375rem, 3.125vw, 3.75rem);
	height: clamp(2.375rem, 3.125vw, 3.75rem);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(1.125rem, 1.0417vw, 1.375rem);
	line-height: 0;
	transition: all 0.4s ease-out 0s;
	background-color: rgba(var(--accent-color-rgb), 0.05);
	color: var(--accent-color);
  }
  .about .icon-box:hover i {
	background-color: var(--accent-color);
	color: var(--contrast-color);
  }
  @media (max-width: 1200px) {
	.about .content img {
	  width: 50%;
	  max-width: 300px;
	}
  }
  #services .icon-box {
	flex: 1 1 auto;
	min-width: 0;
	height: auto;
  }
  #services .icon-boxes {
	display: flex;
	flex-wrap: wrap;
  }
  .services .icon-box h3 {
	text-align: center;
  }
  .service-details .help-box {
	background-color: var(--accent-color);
	color: var(--contrast-color);
	margin-top: 30px;
	padding: 30px 15px;
  }
  .service-details .help-box .help-icon {
	font-size: 3rem;
  }
  .service-details .help-box a,
  .service-details .help-box h4 {
	color: var(--contrast-color);
  }
  .service-details .service-box {
	box-shadow: 0 2px 20px rgba(var(--default-color-rgb), 0.12);
	padding: 20px;
  }
  .service-details .service-box h4 {
	border-bottom: 2px solid rgba(var(--default-color-rgb), 0.08);
	font-size: clamp(0.7rem, 0.83vw, 1rem);
	margin-bottom: 15px;
	padding-bottom: 15px;
  }
  .service-details .service-box + .service-box {
	margin-top: 30px;
  }
  .service-details .services-img {
	margin-bottom: 20px;
  }
  .service-details .services-list a {
	align-items: center;
	background-color: rgba(var(--default-color-rgb), 0.04);
	color: rgba(var(--default-color-rgb), 0.8);
	display: flex;
	margin-top: 15px;
	padding: 12px 15px;
	transition: 0.3s;
  }
  .service-details .services-list a i {
	color: var(--accent-color);
	margin-right: 8px;
  }
  .service-details .services-list a.active {
	background-color: var(--accent-color);
	color: var(--contrast-color);
  }
  .service-details .services-list a.active i {
	color: var(--contrast-color);
  }
  .service-details .services-list a:first-child {
	margin-top: 0;
  }
  .service-details .services-list a:hover {
	background-color: rgba(var(--accent-color-rgb), 0.05);
	color: var(--accent-color);
  }
  .service-details h3 {
	text-align: center;
  }
  .service-details ul {
	list-style: none;
	padding: 0;
  }
  .service-details ul i {
	color: var(--accent-color);
	margin-right: 8px;
  }
  .service-details ul li {
	align-items: center;
	display: flex;
	padding: 5px 0;
  }
  .services {
	min-height: 100vh;
  }
  .services .service-item {
	height: 100vh;
	padding-top: 0;
	position: relative;
  }
  .services .service-item .description {
	font-size: 0.9375rem;
	line-height: 24px;
  }
  .services .service-item .icon {
	height: 48px;
	line-height: 0;
	margin-right: 50px;
	position: relative;
	width: 48px;
  }
  .services .service-item .icon i {
	color: rgba(var(--default-color-rgb), 0.7);
	position: relative;
	text-align: center;
	transition: ease-in-out 0.3s;
	z-index: 2;
  }
  .services .service-item .icon:before {
	background: rgba(var(--accent-color-rgb), 0.3);
	border-radius: 50px;
	bottom: -15px;
	content: "";
	height: 30px;
	position: absolute;
	right: -15px;
	transition: 0.3s;
	width: 30px;
	z-index: 1;
  }
  .services .service-item .title {
	font-size: 1.125rem;
	margin-bottom: 15px;
  }
  .services .service-item .title a {
	color: var(--heading-color);
  }
  .services .service-item .title a:hover {
	color: var(--accent-color);
  }
  .services .service-item::after {
	background: var(--accent-color);
	border-right: 5px solid var(--background-color);
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 30px;
  }
  .services .service-item:before {
	background: rgba(var(--default-color-rgb), 0.1);
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  }
  @media (min-width: 770px) and (max-width: 999px) {
	.col-md-4 {
	  font-size: 1.25rem;
	}
  }
  @media (min-width: 1000px) and (max-width: 1399px) {
	.col-md-4 {
	  font-size: 0.875rem;
	}
  }
  .portfolio {
	background-color: #eeeded;
	margin-bottom: 0;
	min-height: 100vh;
  }
  .portfolio .portfolio-item {
	overflow: hidden;
	position: relative;
  }
  .portfolio .icon-box h3 {
	text-align: center;
  }
  .portfolio .responsive-img {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 460px !important;
  }
  .portfolio-details .portfolio-description .testimonial-item {
	background: rgba(var(--default-color-rgb), 0.03);
	margin-bottom: 50px;
	padding: 30px 30px 0 30px;
	position: relative;
  }
  .portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
  }
  .portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
  .portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
	color: rgba(var(--accent-color-rgb), 0.5);
	font-size: 1.625rem;
	line-height: 0;
  }
  .portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
	display: inline-block;
	position: relative;
	right: -5px;
	top: 10px;
	transform: scale(-1, -1);
  }
  .portfolio-details .portfolio-description .testimonial-item .testimonial-img {
	border-radius: 50px;
	border: 6px solid var(--background-color);
	float: left;
	margin: 0 10px 0 0;
	width: 90px;
  }
  .portfolio-details .portfolio-description .testimonial-item h3 {
	font-weight: 700;
	margin: 15px 0 5px 0;
	padding-top: 20px;
  }
  .portfolio-details .portfolio-description .testimonial-item h4 {
	color: #6c757d;
	font-size: 0.875rem;
	margin: 0;
  }
  .portfolio-details .portfolio-description .testimonial-item p {
	font-style: italic;
	margin: 0 0 15px 0 0 0;
	padding: 0;
  }
  .portfolio-details .portfolio-description h2 {
	margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
	padding: 0;
  }
  .portfolio-details .swiper-wrapper {
	height: auto;
  }
  .portfolio-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 100%;
  }
  .portfolio-row .sec {
	-moz-box-shadow: 4px 4px 36px -10px rgba(0, 0, 0, 0.66);
	-webkit-box-shadow: 4px 4px 36px -10px rgba(0, 0, 0, 0.66);
	background-color: #f8f4f4;
	border-radius: 10px;
	box-shadow: 4px 4px 36px -10px rgba(0, 0, 0, 0.66);
	max-width: 40%;
	min-height: 100px;
	padding: 20px 25px;
  }
  @media screen and (max-width: 575px) {
	.portfolio-row {
	  display: block !important;
	}
	.portfolio-row .sec {
	  max-width: 100% !important;
	}
  }
  .client-logo,
  .progress-bar-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 0 0 25%;
	justify-content: center;
	max-width: 25%;
  }
  .client-stats-label {
	font-size: 0.875rem;
	margin-top: 5px;
	text-align: center;
  }
  .client-stats-progress-bar {
	background-color: #eaeaea;
	border-radius: 10px;
	height: 20px;
	margin: 10px auto;
	position: relative;
	width: 100%;
  }
  .client-stats-progress-bar::after {
	color: #fff;
	content: "";
	padding-left: 3px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
  }
  .client-stats-progress-bar::before {
	background-color: var(--accent-color);
	border-radius: 10px 0 0 10px;
	color: #fff;
	content: attr(aria-valuenow) "%";
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	padding-right: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: width 1s ease-out;
	width: calc(var(--value) * 1%);
  }
  .client-stats-progress-container {
	margin-bottom: 15px;
  }
  .clients .client-logo img {
	filter: grayscale(100);
	max-width: 80%;
	opacity: 0.5;
	padding: 15px;
	transition: 0.3s;
  }
  .clients .client-logo img:hover {
	opacity: 1;
  }
  .clients-flex-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
  }
  @media (max-width: 576px) {
	.client-logo,
	.progress-bar-container {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  @media (max-width: 992px) {
	.client-logo,
	.progress-bar-container {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .stats {
	--background-color-rgb: 0, 0, 0;
	--background-color: #000000;
	--default-color-rgb: 255, 255, 255;
	--default-color: #ffffff;
	padding: 25px 0;
	position: relative;
  }
  .stats .container {
	position: relative;
	z-index: 3;
  }
  .stats .stats-item {
	padding: 20px;
	width: 100%;
  }
  .stats .stats-item p {
	color: rgba(var(--accent-color), 0.6);
	font-family: var(--heading-font);
	font-size: clamp(0.8rem, 2vw, 1.2rem);
	margin: 0;
	padding: 0;
  }
  .stats .stats-item span {
	display: block;
	color: var(--default-color);
	font-size: clamp(2rem, 5vw, 3rem);
  }
  .stats img {
	-o-object-fit: cover;
	display: block;
	height: 100%;
	inset: 0;
	object-fit: cover;
	position: absolute;
	width: 100%;
	z-index: 1;
  }
  .stats:before {
	background: rgba(var(--background-color-rgb), 0.6);
	content: "";
	inset: 0;
	position: absolute;
	z-index: 2;
  }
  @media (max-width: 575px) {
	.stats .row > .col-lg-3,
	.stats .row > .col-md-6 {
	  width: 50%;
	}
  }
  @media (min-width: 576px) and (max-width: 991px) {
	.stats .row > .col-lg-3 {
	  width: 33.3333%;
	}
	.stats .row > .col-md-6 {
	  width: 33.3333%;
	}
  }
  @media (min-width: 992px) {
	.stats .row > .col-lg-3 {
	  width: 25%;
	}
  }
  .pricing {
	padding: 20px 0 20px 0;
  }
  .pricing .buy-btn {
	background-color: var(--contrast-color);
	border-radius: 4px;
	border: 1px solid rgba(var(--default-color-rgb), 0.2);
	color: rgba(var(--default-color-rgb), 0.8);
	display: inline-block;
	font-family: var(--heading-font);
	font-size: 1rem;
	font-weight: 600;
	padding: 10px 20px;
	transition: 0.3s;
	transition: none;
  }
  .pricing .buy-btn:hover {
	background-color: var(--accent-color);
	color: var(--contrast-color);
  }
  .pricing .featured {
	border: 3px solid var(--accent-color);
	z-index: 10;
  }
  .pricing .featured .buy-btn {
	background-color: var(--accent-color);
	color: var(--contrast-color);
  }
  .pricing .featured .buy-btn:hover {
	background-color: #000;
  }
  .pricing .icon {
	align-items: center;
	background: var(--accent-color);
	border-radius: 50%;
	display: flex;
	height: 70px;
	justify-content: center;
	margin: 20px auto 150px auto;
	transform-style: preserve-3d;
	transition: 0.3s;
	width: 70px;
  }
  .pricing .icon i {
	color: var(--background-color);
	line-height: 0;
	transition: ease-in-out 0.3s;
  }
  .pricing .icon::after {
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 102px;
	position: absolute;
	transform: translateZ(-2px);
	transition: all 0.3s ease-out 0s;
	width: 102px;
  }
  .pricing .icon::before {
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 86px;
	position: absolute;
	transform: translateZ(-1px);
	transition: all 0.3s ease-out 0s;
	width: 86px;
  }
  .pricing .pricing-item {
	border-radius: 15px;
	box-shadow: 0 3px 20px -2px rgba(var(--default-color-rgb), 0.1);
	height: 100%;
	padding: 40px 20px;
	position: relative;
  }
  .pricing .section-title {
	margin-bottom: 20px;
  }
  .pricing h3 {
	font-weight: 600;
	margin-bottom: 15px;
  }
  .pricing h4 {
	color: var(--accent-color);
	font-family: var(--heading-font);
	font-size: 3rem;
	margin-bottom: 25px;
	text-align: center;
  }
  .pricing h4 span {
	color: rgba(var(--default-color-rgb), 0.5);
	font-size: 1.125rem;
	font-weight: 400;
  }
  .pricing h4 sup {
	font-size: 1.25rem;
  }
  .pricing ul {
	color: rgba(var(--default-color-rgb), 0.8);
	line-height: 20px;
	list-style: none;
	padding: 20px 0;
	text-align: left;
  }
  .pricing ul .na {
	color: rgba(var(--default-color-rgb), 0.3);
  }
  .pricing ul .na i {
	color: rgba(var(--default-color-rgb), 0.3);
  }
  .pricing ul .na span {
	text-decoration: line-through;
  }
  .pricing ul i {
	color: #059652;
	padding-right: 3px;
  }
  .pricing ul li {
	align-items: center;
	display: flex;
	padding: 10px 0;
  }
  @media (min-width: 992px) {
	.pricing .featured {
	  transform: scale(1.15);
	}
  }
  .faq .content h3 {
	font-weight: 400;
  }
  .faq .content p {
	color: rgba(var(--default-color-rgb), 0.7);
  }
  .faq .faq-container .faq-active .faq-content {
	grid-template-rows: 1fr;
	opacity: 1;
	padding-top: 10px;
	visibility: visible;
  }
  .faq .faq-container .faq-active .faq-toggle {
	color: var(--accent-color);
	transform: rotate(90deg);
  }
  .faq .faq-container .faq-item .faq-content {
	display: grid;
	grid-template-rows: 0fr;
	opacity: 0;
	transition: 0.3s ease-in-out;
	visibility: hidden;
  }
  .faq .faq-container .faq-item h3 {
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	font-weight: 600;
	line-height: 24px;
	margin: 0 20px 0 0;
	transition: 0.3s;
  }
  .faq .faq-container .faq-item h3 .num {
	color: var(--accent-color);
	padding-right: 5px;
  }
  .faq .faq-container .faq-item h3:hover {
	color: var(--accent-color);
  }
  .faq .faq-container .faq-item:last-child {
	margin-bottom: 0;
  }
  @media (max-width: 768px) {
	.faq .faq-container.left-col,
	.faq .faq-container.right-col {
	  width: 100%;
	}
	.faq .faq-row {
	  flex-direction: column;
	}
	.faq-container .faq-active .faq-toggle {
	  transform: rotate(90deg);
	}
	.faq-container .faq-content {
	  display: none;
	}
	.faq-container .faq-toggle {
	  display: inline-block;
	  transform: rotate(0);
	  transition: transform 0.3s ease;
	}
  }
  .team {
	--background-color: #f4f4f4;
  }
  .call-to-action {
	--background-color-rgb: 0, 0, 0;
	--background-color: #000000;
	--default-color: #ffffff;
	-webkit-clip-path: inset(0);
	clip-path: inset(0);
	padding: 80px 0;
	position: relative;
  }
  .call-to-action .container {
	position: relative;
	z-index: 3;
  }
  .call-to-action .cta-btn {
	border-radius: 5px;
	border: 2px solid var(--contrast-color);
	color: var(--contrast-color);
	display: inline-block;
	font-family: var(--heading-font);
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 10px;
	padding: 12px 40px;
	transition: 0.5s;
  }
  .call-to-action .cta-btn:hover {
	background: var(--accent-color);
	border: 2px solid var(--accent-color);
  }
  .call-to-action h3 {
	color: var(--default-color);
  }
  .call-to-action img {
	-o-object-fit: cover;
	display: block;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
  }
  .call-to-action p {
	color: var(--default-color);
  }
  .call-to-action:before {
	background: rgba(var(--background-color-rgb), 0.5);
	content: "";
	inset: 0;
	position: absolute;
	z-index: 2;
  }
  .testimonials {
	--background-color: #f4f4f4;
	min-height: 40vh;
  }
  .testimonials .swiper {
	background-color: #fff;
	box-shadow: 0 35px 50px 0 rgba(0, 0, 0, 0.05);
  }
  .testimonials .swiper-pagination {
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
  }
  .testimonials .swiper-slide .testimonial-item p i:first-of-type {
	color: var(--accent-color);
  }
  .testimonials .swiper-wrapper {
	height: auto;
  }
  .testimonials .testimonial-item {
	box-sizing: content-box;
	margin: 15px;
	min-height: 180px;
	position: relative;
  }
  .testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
  }
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
	color: #000;
	font-size: 1.625rem;
	line-height: 0;
  }
  .testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	position: relative;
	right: -5px;
	top: 10px;
	transform: scale(-1, -1);
  }
  .testimonials .testimonial-item .testimonial-img {
	border-radius: 50px;
	border: 6px solid var(--background-color);
	height: 90px;
	margin-right: 10px;
	width: 90px;
  }
  .testimonials .testimonial-item h3 {
	margin: 15px;
	font-weight: 700;
  }
  .testimonials .testimonial-item h4 {
	color: rgba(var(--default-color-rgb), 0.5);
	margin: 0;
  }
  .testimonials .testimonial-item p {
	font-style: italic;
	margin: 15px auto 15px auto;
  }
  @media (max-width: 767px) {
	.testimonials .testimonial-item {
	  margin: 15px;
	}
  }
  .recent-posts article {
	box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
	padding: 30px;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
  }
  .recent-posts .post-img {
	max-height: 240px;
	margin: -30px -30px 15px -30px;
	overflow: hidden;
  }
  .recent-posts .title {
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0;
	margin: 0 0 20px 0;
  }
  .recent-posts .title a {
	color: var(--heading-color);
	transition: 0.3s;
  }
  .recent-posts .title a:hover {
	color: var(--accent-color);
  }
  .recent-posts .post-author-img {
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
  }
  .recent-posts .post-author {
	font-weight: 600;
	margin-bottom: 5px;
  }
  .recent-posts .post-date {
	font-size: 0.875rem;
	color: rgba(var(--default-color-rgb), 0.5);
	margin-bottom: 0;
  }
  .blog .pagination {
	color: rgba(var(--default-color-rgb), 0.6);
	margin-top: 30px;
  }
  .blog .pagination li {
	margin: 0 5px;
	transition: 0.3s;
  }
  .blog .pagination li a {
	align-items: center;
	color: rgba(var(--default-color-rgb), 0.6);
	display: flex;
	justify-content: center;
	padding: 7px 16px;
  }
  .blog .pagination li.active a,
  .blog .pagination li:hover a {
	color: var(--contrast-color);
  }
  .blog .pagination li.active,
  .blog .pagination li:hover {
	background: var(--accent-color);
	color: var(--contrast-color);
  }
  .blog .pagination ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .blog .posts-list .post-author {
	font-weight: 600;
	margin-bottom: 5px;
  }
  .blog .posts-list .post-author-img {
	border-radius: 50%;
	margin-right: 15px;
	width: 50px;
  }
  .blog .posts-list .post-date {
	color: rgba(var(--default-color-rgb), 0.6);
	font-size: 0.875rem;
	margin-bottom: 0;
  }
  .blog .posts-list .post-img {
	margin: -30px -30px 15px -30px;
	max-height: 240px;
	overflow: hidden;
  }
  .blog .posts-list .title {
	font-size: 1.375rem;
	margin: 0 0 20px 0;
	padding: 0;
  }
  .blog .posts-list .title a {
	color: var(--heading-color);
	transition: 0.3s;
  }
  .blog .posts-list .title a:hover {
	color: var(--accent-color);
  }
  .blog .posts-list article {
	border-radius: 10px;
	box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
	height: 100%;
	overflow: hidden;
	padding: 30px;
  }
  .blog-details .article {
	box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
	padding: 30px;
  }
  .blog-details .blog-author {
	box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
	margin-top: 30px;
	padding: 20px;
  }
  .blog-details .blog-author h4 {
	color: rgba(var(--default-color-rgb), 0.8);
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0;
	padding: 0;
  }
  .blog-details .blog-author img {
	margin-right: 20px;
	max-width: 120px;
  }
  .blog-details .blog-author p {
	color: rgba(var(--default-color-rgb), 0.7);
	font-style: italic;
	margin-bottom: 0;
  }
  .blog-details .content {
	margin-top: 20px;
  }
  .blog-details .content h3 {
	font-weight: 700;
	margin-top: 30px;
  }
  .blog-details .meta-bottom {
	border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
	padding-top: 10px;
  }
  .blog-details .meta-bottom .tags {
	display: inline;
	font-size: 0.875rem;
	list-style: none;
	padding: 0;
  }
  .blog-details .meta-bottom .tags li {
	display: inline-block;
  }
  .blog-details .meta-bottom .tags li + li::before {
	color: var(--default-color);
	content: ", ";
	padding-right: 6px;
  }
  .blog-details .meta-bottom a {
	color: rgba(var(--default-color-rgb), 0.6);
	transition: 0.3s;
  }
  .blog-details .meta-bottom a:hover {
	color: var(--accent-color);
  }
  .blog-details .meta-bottom i {
	color: rgba(var(--default-color-rgb), 0.6);
	display: inline;
  }
  .blog-details .meta-top {
	color: rgba(var(--default-color-rgb), 0.6);
	margin-top: 20px;
  }
  .blog-details .meta-top a {
	color: rgba(var(--default-color-rgb), 0.6);
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1;
  }
  .blog-details .meta-top i {
	color: rgba(var(--default-color-rgb), 0.6);
	font-size: 1rem;
	line-height: 0;
	margin-right: 8px;
  }
  .blog-details .meta-top ul {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .blog-details .meta-top ul li + li {
	padding-left: 20px;
  }
  .blog-details .post-img {
	margin: -30px -30px 20px -30px;
	overflow: hidden;
  }
  .blog-details .title {
	color: var(--heading-color);
	font-size: 1.25rem;
	margin: 30px 0;
	padding: 0;
  }
  section#contact .form-group input,
  section#contact .form-group textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 0;
	border: 1px solid #bbb;
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
	font-size: 0.875rem;
	padding: 15px;
  }
  section#contact form {
	margin-top: 15px;
  }
  section#contact.form-group {
	margin-bottom: 0;
  }
  .contact .day {
	display: inline-block;
	width: 80px;
  }
  .contact .php-email-form {
	background: rgba(var(--default-color-rgb), 0.03);
	height: 100%;
	padding: 20px;
  }
  .contact .php-email-form button[type="submit"] {
	background: var(--accent-color);
	border-radius: 4px;
	border: 0;
	color: var(--contrast-color);
	padding: 10px 30px;
	transition: 0.4s;
  }
  .contact .php-email-form button[type="submit"]:hover {
	background: rgba(var(--accent-color-rgb), 0.8);
  }
  .contact .php-email-form input[type="email"],
  .contact .php-email-form input[type="text"],
  .contact .php-email-form textarea {
	background-color: rgba(var(--background-color-rgb), 0.5);
	border-color: rgba(var(--default-color-rgb), 0.2);
	border-radius: 0;
	box-shadow: none;
	color: var(--default-color);
	font-size: 0.875rem;
	padding: 10px 15px;
  }
  .contact .php-email-form input[type="email"]::-moz-placeholder,
  .contact .php-email-form input[type="text"]::-moz-placeholder,
  .contact .php-email-form textarea::-moz-placeholder {
	color: rgba(var(--default-color-rgb), 0.3);
  }
  .contact .php-email-form input[type="email"]::placeholder,
  .contact .php-email-form input[type="text"]::placeholder,
  .contact .php-email-form textarea::placeholder {
	color: rgba(var(--default-color-rgb), 0.3);
  }
  .contact .php-email-form input[type="email"]:focus,
  .contact .php-email-form input[type="text"]:focus,
  .contact .php-email-form textarea:focus {
	border-color: var(--accent-color);
  }
  .contact h3 {
	margin-bottom: 30px;
  }
  .contact i {
	margin-right: 5px;
  }
  @keyframes animate-loading {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  .footer {
	--background-color: #f4f4f4;
	color: var(--default-color);
	background-color: var(--background-color);
	font-size: 0.875rem;
	padding: 20px;
	margin-top: auto;
  }
  .footer .footer-about .logo {
	line-height: 0;
  }
  .footer .footer-about .logo img {
	max-height: 50px;
	margin-right: 6px;
  }
  .footer .footer-about .logo span {
	color: var(--heading-color);
	font-size: 1.875rem;
	letter-spacing: 1px;
	font-family: var(--heading-font);
  }
  .footer .footer-about p {
	font-family: var(--heading-font);
  }
  .footer h4 {
	color: var(--heading-color);
	font-size: 1rem;
	font-weight: 700;
	position: relative;
  }
  .footer .copyright {
	background-color: rgba(var(--default-color-rgb), 0.05);
  }
  .footer .credits {
	font-size: 0.75rem;
  }
  .scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background-color: var(--accent-color);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
  }
  .scroll-top i {
	font-size: 1.5rem;
	color: #fff;
	line-height: 0;
  }
  .scroll-top:hover {
	background-color: #000;
	color: #fff;
  }
  .scroll-top.active {
	visibility: visible;
	opacity: 1;
  }
  